

.container{
    position: relative;
    width: 66.666666%;
    max-width: none;
    margin: 0 auto;
    padding: 0 20px;
}

.gall {
    min-height: 40vw;
    padding: 0 0 5em;
}

.gall>li {
    /*flex: 0 0 50%;*/
    /*max-width: 30%;*/
    display: flex;
    margin-bottom: 8.5vh;
}



.gall .screen {
    position: absolute;
    top: 50%;
    z-index: 1;
    left: 10%;
    width: 80%;
    transform: translate(0,-50%);
}

#Experience_2 > .gall > .screen{
    width: 100%;
    left: 0;
}


.gall img{
    display: block;
    width: 100%;
}

.gall .tmb {
    position: relative;
    width : 12vw;
}

.gall .inner {
    display: block;
    position: relative;
}


.gall h4 {
    font-size: 1.6vw;
}

.gall>li .inner {
    margin: 0 3%;
}

#Experience_1 .tmb>img {
    border-radius: 50%;
}

.experience-description{
    padding-top : 20px;
    /*font-family: bh2;*/
}

.experience-date{
    font-size : 1.2vw;
    margin-bottom: 15px;
}

.experience-role{
    font-size: 1.2vw;
    margin-top : 15px;
    font-weight: 800;
    margin-bottom: 2.5vh;
}

.experience-summary{
    font-size : 1.1vw;
}

.experience-place{
    font-family: bh3;
}