@media all and (min-width :768px) {
    .experience-section li {
        display: flex;
        margin-bottom: 8.5vh;
        border-radius: 25px;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(5px);
        box-shadow: 4px 12px 30px 6px rgb(0 0 0 / 9%);
        overflow: hidden;
        height: 12vw;
        justify-content: space-between;
    }

    .experience-section li:last-child{
        margin-bottom: 0;
    }

    .experience-description h4 {
        font-size: 1.6vw;
    }

    .experience-img img {
        height: 100%;
    }

    .experience-img{
        width: 18%;
    }

    .experience-description{
        width: 78%;
        margin-left: 30px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .experience-date{
        font-size : 1.2vw;
    }

    .experience-role{
        font-size: 1.2vw;
        font-weight: 800;
        margin : 12px 0;
    }

    .experience-summary{
        font-size : 1.1vw;
    }
}

@media all and (max-width :767px){
    .experience-section .container {
        position: relative;
        width: 80vw;
        z-index: 12;
        border-radius: 25px;
        margin: 0 auto;
    }

    .experience-section li {
        display: flex;
        margin-bottom: 5vh;
        border-radius: 25px;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(5px);
        box-shadow: 4px 12px 30px 6px rgb(0 0 0 / 9%);
        overflow: hidden;
        flex-direction: column;
    }

    .experience-description h4 {
        font-size: 4vw
    }

    .experience-img {
        width: 100%;
    }

    .experience-img img {
        width: 100%;
    }

    .experience-description{
        padding: 10px;
    }

    .experience-date{
        font-size : 3.5vw;
    }

    .experience-role{
        font-size: 1.2vw;
        font-weight: 800;
        margin : 2vh 0;
    }

    .experience-summary{
        font-size : 4vw;
        letter-spacing: 1px;
    }
}



