/********************************************/
/*Header*/
.header{
    background-color: #ffffff;
    z-index: 8888;
    position:  fixed;
    top : 0;
    left : 0;
    height: 100%;
    /*width : 21.42857rem;*/
    width : 16.3vw;
}

.header .inner .logo a{
    position: fixed;
    top: 40px;
    left: 2vw;
    font-size: 2.3vw;
    line-height: 1;
    transition-duration: 1s;
}


.header>.inner>.logo>a:hover{
    color: #111111;
}

.header>.inner>.logo>#subLogo{
    position: fixed;
    top: 85px;
    left: 2.1vw;
    font-size: 0.8vw;
    line-height: 1;
    color: #111;
}

.header .menu-list{
    position: fixed;
    top: 160px;
    left: 2vw;
    font-weight: 700;
    font-size: 1.2vw;
    color: rgba(0,0,0,.25);
    display: flex;
    flex-direction: column;
}

.header .menu-list  .home-menu-item{
    width: 100%;
}

.header .menu-list  .home-menu-item a{
    font-size: 1.7vw;
    display: inline-block;
    position: relative;
    margin-bottom: .4em;
    color: rgba(0,0,0,.25);
    animation: gnb 1s both;
    transition-duration: 1s;
}

.header .menu-list  .home-menu-item a:hover{
    color: #111;
}

.header .menu-list  .home-menu-item strong{
    color: #111;
}

h1{
    font-weight: 900;
    letter-spacing: -.05em;
}

