@media all and (min-width :768px) {
    /********************************************/
    /*Header*/
    .header{
        background-color: #ffffff;
        z-index: 8888;
        position:  fixed;
        top : 0;
        left : 0;
        height: 100%;
        /*width : 21.42857rem;*/
        width : 16.3vw;
    }

    .header .inner .logo a{
        position: fixed;
        top: 40px;
        left: 2vw;
        font-size: 2.3vw;
        line-height: 1;
        transition-duration: 1s;
        text-decoration: none;
        color: rgba(0,0,0,.08);
    }

    .header>.inner>.logo>a:hover{
        color: #111111;
    }

    .header>.inner>.logo>#subLogo{
        position: fixed;
        top: 85px;
        left: 2.1vw;
        font-size: 0.8vw;
        line-height: 1;
        color: #111;
    }

    .header .menu-list{
        position: fixed;
        top: 160px;
        left: 2vw;
        font-weight: 800;
        font-size: 1.2vw;
        color: rgba(0,0,0,.25);
        display: flex;
        flex-direction: column;
    }

    .header .menu-list  .home-menu-item{
        width: 100%;
    }

    .header .menu-list  .home-menu-item a{
        font-size: 1.75vw;
        display: inline-block;
        position: relative;
        margin-bottom: .4em;
        color: rgba(0,0,0,.25);
        animation: gnb 1s both;
        transition-duration: 1s;
        text-decoration: none;
    }

    .header .menu-list  .home-menu-item .active{
        color: #111;
    }


    .header .menu-list  .home-menu-item a:hover{
        color: #111;
    }

    .header .menu-list  .home-menu-item strong{
        color: #111;
    }

    h1{
        font-weight: 900;
        letter-spacing: -.05em;
    }

    #click-btn{
        display: none;
    }

    .mobile-logo{
        display: none;
    }
}


@media all and (max-width: 767px){

    .header{
        position: relative;
    }

    .logo{
        display: none;
    }

    #click-btn {
        /*width: 18px;!*60*!*/
        width: 6.5vw;
        height: 6.5vw;
        font-size: 38px;
        display: flex;
        /*justify-content: center;*/
        align-items: center;
        cursor: pointer;
        position: relative;
        transition: .3s ease-in-out;
        float: right;
    }

    #click-btn span{
        position: absolute;
        /*height: 3.5px;*/
        height: 1.2vw;
        border-radius : 3px;
        width: 100%;
        background-color: #111111;
        top : 0;
        transition : 0.2s;
    }

    #click-btn span:nth-child(1){
        top : 0;
    }

    #click-btn span:nth-child(2),#click-btn span:nth-child(3){
        top : 2.3vw;
    }

    #click-btn span:nth-child(4){
        top : 4.6vw;
    }

    #click-btn.active span:nth-child(1),
    #click-btn.active span:nth-child(4){
        opacity: 0;
    }

    #click-btn.active span:nth-child(2){
        transform: rotate(45deg);
    }
    #click-btn.active span:nth-child(3){
        transform: rotate(-45deg);
    }

    .menu-list{
        width: 0;
        height: 100vh;
        background-color: #fff;
        overflow: hidden;
        margin-top: 30px;
        z-index: 9999;
        position: absolute;
        top: 0;
        left: 0;
    }

    .home-menu-item{
        width: 100%;
        /*display: flex;*/
        /*justify-content: center;*/
        /*align-items: center;*/
        margin-left: 40px;
        font-size: 25px;
        margin-bottom: 20px;
        margin-top: 20px;
        font-weight: 700;
    }

    .mobile-logo{
        width: 10%;
        float: left;
    }

    .mobile-logo img{
        width: 100%;
    }

    .mobile-header{
        width: 75%;
        margin: 1.5vh auto;
        height: 20px;
        /*background-color: yellow;*/
    }

}

