.home-section{
    height: 100vh;;
    width: 100%;
}

/*home-section main outer box*/
.home{
    height: 68vh;
    width: 66.6666%;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    z-index: 12;
    border-radius: 25px;
    margin: 0 23vw;
    position: relative;
    display: flex;
    background-color: #fff;
    box-shadow: 4px 12px 30px 6px rgb(0 0 0 / 9%);
}

/**************************/

/*home-section text part*/
.home-text{
    width: 65%;
    position: relative;
}

.home-text-header{
    margin-top: 10vh;
    margin-left: 5vw;
}

.home-text h2{
    font-size: 3.8vw;
    font-weight: 700;
}

.home-text-list-wrap{
    position: absolute;
    bottom: 14vh;
    left: 5vw;
}


.home-text-list-wrap .home-text-list-element{
    outline: none;
    /*font-size: 26px;*/
    font-size: 1vw;
    font-weight: 500;
    border-radius: 15px;
    padding: 10px 22px;
    border: none;
    margin: 0.5vw 1vh;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #eee;
    color: #000;
    position: relative;
}

.home-text-list-element:before {
    position: absolute;
    top: 0;
    left: -4px;
    width: 20px;
    height: 20px;
    background: url("../img/icon_head.svg");
    content: "";
}

.home-text-list-wrap .home-text-list-element:hover{
    transform: scale(0.97);
}

.home-text-list-wrap> li > ul{
    display: flex;
}

/**************************/

/*home-section img part*/
.home-img{
    width: 35%;
    transform: translateX(60px);
    position: absolute;
    right: 0;
    bottom: 0;
}

.home-img img{
    width: 100%;
}

/**************************/


