/* Universe*/
.body__container{
    font-family: 'Noto Sans', sans-serif;
    font-size : 16px;
    font-weight: 400;
    position: relative;
    /*color : #d96565;*/
    background-color: #fafafa;
}/*body_container*/

.body__container a{
    text-decoration: none;
    color: black;
}

.clearfix::after{
    content : "";
    clear : both;
    display: block;
}

.float--left{
    float : left;
}

.float--right{
    float : right;
}

.fixed{
    position: fixed;
}

/*section*/
.section{
    position : relative;
    padding-top: 20px;
}

.inner{
    max-width: 1200px;
    margin : 0 auto;
    /*background: #bf132b;*/
    position: relative;
}

a:link{
    text-decoration: none;
    /*need to decide on default font color*/
    color:whitesmoke;
}

a:visited{
    text-decoration: none;
    /*need to decide on default font color*/
    color:whitesmoke;
}

.h1 .h2 .h3 .h4 .h5 .h6 h1 h2 h3 h4 h5 h6{
    font-weight: 700;
    letter-spacing: -.05em;
}

/********************************************/


