/* Universe*/

body {
    font-family: 'Montserrat','Noto Sans KR','Malgun Gothic','맑은 고딕','Apple SD Gothic Neo',sans-serif;
    letter-spacing: -.025em;
    word-break: keep-all;
    word-wrap: break-word;
    color: #000;
}

a {
    text-decoration: none !important;
    color: inherit;
}

.body__container{
    font-size : 20px;
    font-weight: 400;
    position: relative;
    background-color: #fafafa;
}/*body_container*/

.body__container a{
    text-decoration: none;
    color: black;
}

.clearfix::after{
    content : "";
    clear : both;
    display: block;
}

.float--left{
    float : left;
}

.float--right{
    float : right;
}

.fixed{
    position: fixed;
}


.inner{
    max-width: 1200px;
    margin : 0 auto;
    position: relative;
}


.h1 .h2 .h3 .h4 .h5 .h6 h1 h2 h3 h4 h5 h6{
    font-weight: 700;
    letter-spacing: -.05em;
}

/********************************************/


