/* Universe*/

@font-face {
    font-family: 'bh';
    src: url('../font/BMHANNAProOTF.otf') format('truetype');
}

@font-face {
    font-family: 'bh1';
    src: url('../font/BMEULJIRO.otf') format('truetype');
}

@font-face {
    font-family: 'bh2';
    src: url('../font/BMJUA_otf.otf') format('truetype');
}

@font-face {
    font-family: 'bh3';
    src: url('../font/BMHANNAProOTF.otf') format('truetype');
}

body {
    font-family: 'Montserrat','Noto Sans KR','Malgun Gothic','맑은 고딕','Apple SD Gothic Neo',sans-serif;
    letter-spacing: -.025em;
    word-break: keep-all;
    word-wrap: break-word;
    color: #000;
    /*font-family: bh2;*/
}


body {
    /*background-image: repeating-linear-gradient(to right,transparent,transparent calc(16.666666% - 1px),#eee calc(16.666666% - 1px),#eee 16.666666%);*/
    /*    background-image: linear-gradient(*/
    /*            180deg*/
    /*            ,#2f6ed3 5%,#5095e4 20%,#5095e4 60%,#2f6ed3 95%);*/
    /*}*/
    background-color: #fff;
}

a {
    text-decoration: none !important;
    color: inherit;
}

.body__container{
    font-size : 20px;
    font-weight: 400;
    position: relative;
    background-color: #fafafa;
}/*body_container*/

.body__container a{
    text-decoration: none;
    color: black;
}

.clearfix::after{
    content : "";
    clear : both;
    display: block;
}

.float--left{
    float : left;
}

.float--right{
    float : right;
}

.fixed{
    position: fixed;
}


.inner{
    max-width: 1200px;
    margin : 0 auto;
    position: relative;
}


.h1 .h2 .h3 .h4 .h5 .h6 h1 h2 h3 h4 h5 h6{
    font-weight: 700;
    letter-spacing: -.05em;
}

/********************************************/



.sub-head h2{
    margin-bottom: .2em;
    font-size: 15vw;
    line-height: .4;
    letter-spacing: -.1em;
    text-align: right;
    color: #f6f6f6;
    animation: ink 1.5s both;
    font-weight: 700;
}

.sub-head h3{
    /*width: 66.666666%;*/
    /*margin: 0 18vw;*/
    font-size: 3.5vw;
    font-weight: 700;
    letter-spacing: -.05em;
    /*font-family: bh2;*/
}

.sub-head{
    margin: 0 0 4.5vw 0;
}

.sub-head h3 span{
    display: inline-block;
    padding-right: .1em;
}

.container{
    position: relative;
    width: 66.666666%;
    max-width: none;
    margin : 0 20vw;
}

section{
    padding-bottom: 100px;
}



.red{
    color: red;
}

.blue{
    color: blue;
}

.yellow{
    color : #edd12d;
}

.black{
    color : #000;
}

.green{
    color : limegreen;
}
